In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/llm-recovery/data_gemma_0_1000.csv
/kaggle/input/llm-recovery/data_gemini_5000.csv
/kaggle/input/llm-recovery/dolly_gemini.csv
/kaggle/input/llm-recovery/data_gemini_1000_5000.csv

In [4]:
gemini_1000 = pd.read_csv("/kaggle/input/llm-recovery/data_gemma_0_1000.csv")
gemini_5000 = pd.read_csv("/kaggle/input/llm-recovery/data_gemini_5000.csv")
dolly_gemini = pd.read_csv("/kaggle/input/llm-recovery/dolly_gemini.csv")
gemini_1000_5000 = pd.read_csv("/kaggle/input/llm-recovery/data_gemini_1000_5000.csv")

In [5]:
gemini_1000.head()

,Unnamed: 0,original_text,rewrite_prompt,rewritten_text
0,0,Virgin Australia commenced services on 31 Augu...,Recall this as if it were a memory from your c...,"Sure, here's the memory:\n\nI remember watchin..."
1,1,Camels use the fat in their humps to keep them...,Retain this as if it were a line from a famous...,"Sure, here's the line as if it were a quote fr..."
2,2,No. \nStalemate is a drawn position. It doesn'...,Present this as if it were a historical document.,No. Stalemate is a drawn position based upon ...
3,3,Lollapalooze is an annual musical festival hel...,Reconstruct this as if it were a line from a f...,"Sure, here's the text reconstructed as a line ..."
4,4,John Moses Browning is one of the most well-kn...,Remodel this as if it were a line from a roman...,"Sure, here's the remodel as if it were a line ..."

In [6]:
gemini_5000.head()

,Unnamed: 0,original_text,rewrite_prompt,rewritten_text
0,0,Most of the members of the PayPal Mafia the Un...,Recall this as if it were a memory from your c...,"In the warm glow of golden sunlight, I amble t..."
1,1,There are several ways to build relationships ...,Retain this as if it were a line from a famous...,"My fellow neighbors, let us not neglect the po..."
2,2,Isabel Emily Jay studied at the Royal Academy ...,Present this as if it were a historical document.,**Document**\n\n**Date:** [Insert Date]\n\n**S...
3,3,People believe in God for many reasons and it ...,Reconstruct this as if it were a line from a f...,"""From the whispers of our ancestors to the awe..."
4,4,First Humans appeared in this region during th...,Remodel this as if it were a line from a roman...,"In a realm where time whispered secrets, our a..."

In [7]:
dolly_gemini.head()

,original_text,rewrite_prompt,rewritten_text
0,Virgin Australia commenced services on 31 Augu...,Replace each word with a symbol or pictogram.,"ðŸ‡»ðŸ‡¦ ðŸ›« âœˆ 31 ðŸ“… 2000 ðŸ›¬ ðŸ”µ, ðŸ›¬ 2 ðŸ›« âœˆ 1 ðŸ›«"
1,Camels use the fat in their humps to keep them...,"Adapt it into a silent film screenplay, comple...",**Scene:** Desert\n\n**Title Card:** Camels - ...
2,No. \nStalemate is a drawn position. It doesn'...,Convert this into a mountaineer's memoir.,"As I clung to the sheer rock face, the wind ho..."
3,Lollapalooze is an annual musical festival hel...,Make it a critique by aliens on human society.,**Extraterrestrial Critique of Human Musical E...
4,John Moses Browning is one of the most well-kn...,Transform it into a debate between two philoso...,"**Philosopher A:**\n\nEsteemed colleague, whil..."

In [9]:
gemini_1000_5000.head()

,Unnamed: 0,original_text,rewrite_prompt,rewritten_text
0,0,"Ranleigh Gary Collins (September 27, 1935 â€“ Ju...",Recall this as if it were a memory from your c...,I can still remember the day I heard about Ran...
1,1,People live in homes because its a way to prot...,Retain this as if it were a line from a famous...,"""Home: A sanctuary from nature's wrath, a have..."
2,2,Social media are interactive technologies that...,Present this as if it were a historical document.,**Proclamation on the Impacts of Social Media*...
3,3,Layli and Majnun is a Persian poem written by ...,Reconstruct this as if it were a line from a f...,"""From sands of time, a tale of lovers torn,\nA..."
4,4,In tennis there are four major tennis tourname...,Remodel this as if it were a line from a roman...,"In the grand waltz of tennis, four celestial t..."

## ALL ABOVE 4 DATAFRAMES HAS COMMON COLUMNS, WHICH COLUMN TO TAKE TO MAKE INNER JOIN, JOIN GEMINI_1000 AND GEMINI_5000 ON ORIGINAL TEST COLUMN

In [10]:
gemini_1000.merge(gemini_5000, on="original_text")

,Unnamed: 0_x,original_text,rewrite_prompt_x,rewritten_text_x,Unnamed: 0_y,rewrite_prompt_y,rewritten_text_y
0,188,Chess openings are the most important part of ...,Refashion this as if it were a line from a mys...,"Sure, here's the refashioned text as if it wer...",332,Portray this as a piece of advice from a wise ...,"In the realm of chess, young padawan, the open..."
1,402,Data Engineering occurs before data science in...,Reconstruct this as if it were a line from a f...,"Sure, here's the reconstructed text as if it w...",72,Redesign this as if it were a line from a comedy.,"Data Engineering: ""Yo, I'm the data janitor. I..."
2,715,"In the North Indian basin, storms are most com...",Recast this as a text message to a friend.,"Sure, here's the text message:\n\nHey friend, ...",147,Imagine this as a line from a movie trailer.,"""Prepare for the wrath of monsoon, as storms g..."

## SET THE SUFFIXES WITH(_GEMINI_1000, _GEMINI_5000)

In [11]:
gemini_1000.merge(gemini_5000, on="original_text", suffixes=("_gemini_1000", "_gemini_5000"))

,Unnamed: 0_gemini_1000,original_text,rewrite_prompt_gemini_1000,rewritten_text_gemini_1000,Unnamed: 0_gemini_5000,rewrite_prompt_gemini_5000,rewritten_text_gemini_5000
0,188,Chess openings are the most important part of ...,Refashion this as if it were a line from a mys...,"Sure, here's the refashioned text as if it wer...",332,Portray this as a piece of advice from a wise ...,"In the realm of chess, young padawan, the open..."
1,402,Data Engineering occurs before data science in...,Reconstruct this as if it were a line from a f...,"Sure, here's the reconstructed text as if it w...",72,Redesign this as if it were a line from a comedy.,"Data Engineering: ""Yo, I'm the data janitor. I..."
2,715,"In the North Indian basin, storms are most com...",Recast this as a text message to a friend.,"Sure, here's the text message:\n\nHey friend, ...",147,Imagine this as a line from a movie trailer.,"""Prepare for the wrath of monsoon, as storms g..."

In [12]:
# left join both table on original_text column
gemini_new = gemini_1000.merge(gemini_5000, on="original_text", how="left", suffixes=('_1000', '_5000'))
gemini_new.head()

,Unnamed: 0_1000,original_text,rewrite_prompt_1000,rewritten_text_1000,Unnamed: 0_5000,rewrite_prompt_5000,rewritten_text_5000
0,0,Virgin Australia commenced services on 31 Augu...,Recall this as if it were a memory from your c...,"Sure, here's the memory:\n\nI remember watchin...",NaN,NaN,NaN
1,1,Camels use the fat in their humps to keep them...,Retain this as if it were a line from a famous...,"Sure, here's the line as if it were a quote fr...",NaN,NaN,NaN
2,2,No. \nStalemate is a drawn position. It doesn'...,Present this as if it were a historical document.,No. Stalemate is a drawn position based upon ...,NaN,NaN,NaN
3,3,Lollapalooze is an annual musical festival hel...,Reconstruct this as if it were a line from a f...,"Sure, here's the text reconstructed as a line ...",NaN,NaN,NaN
4,4,John Moses Browning is one of the most well-kn...,Remodel this as if it were a line from a roman...,"Sure, here's the remodel as if it were a line ...",NaN,NaN,NaN

In [13]:
# find the number of null values in rewrite_prompt_5000 column
num_null = gemini_new["rewrite_prompt_5000"].isnull().sum()
num_null

996

In [14]:
gemini_new.shape

(999, 7)

In [15]:
gemini_new_1 = dolly_gemini.merge(gemini_1000_5000, on='original_text')

In [16]:
gemini_new_1.head()

,original_text,rewrite_prompt_x,rewritten_text_x,Unnamed: 0,rewrite_prompt_y,rewritten_text_y
0,Blue light is scattered in all directions by t...,Rewrite it as a dialogue between a robot and i...,"**Creator:** Hello there, my robotic creation....",1671,Revise this as if it were a line from a tragedy.,"A cerulean shroud, ethereal and wide,\nScatter..."
1,"Ranleigh Gary Collins (September 27, 1935 â€“ Ju...",Frame this as a treaty to be concluded.,**Treaty on the Life and Legacy of Ranleigh Ga...,0,Recall this as if it were a memory from your c...,I can still remember the day I heard about Ran...
2,People live in homes because its a way to prot...,Describe this as an ant's existential journey ...,"Amidst the teeming labyrinth of the colony, a ...",1,Retain this as if it were a line from a famous...,"""Home: A sanctuary from nature's wrath, a have..."
3,Social media are interactive technologies that...,Transform it into a rags-to-riches story.,"In a humble neighborhood, amidst towering apar...",2,Present this as if it were a historical document.,**Proclamation on the Impacts of Social Media*...
4,Layli and Majnun is a Persian poem written by ...,Make it a high fantasy quest briefing.,**Quest Briefing**\n\n**Quest Giver:** The Anc...,3,Reconstruct this as if it were a line from a f...,"""From sands of time, a tale of lovers torn,\nA..."

In [17]:
gemini_new_1.shape

(3955, 6)

## Right Join and Outer Join

In [18]:
# if we want right join 2 tables, and we have a common column with same column names, 
# this is how we do it
new_table = gemini_1000.merge(gemini_5000, on="original_text", how='right')
new_table.head()

,Unnamed: 0_x,original_text,rewrite_prompt_x,rewritten_text_x,Unnamed: 0_y,rewrite_prompt_y,rewritten_text_y
0,NaN,Most of the members of the PayPal Mafia the Un...,NaN,NaN,0,Recall this as if it were a memory from your c...,"In the warm glow of golden sunlight, I amble t..."
1,NaN,There are several ways to build relationships ...,NaN,NaN,1,Retain this as if it were a line from a famous...,"My fellow neighbors, let us not neglect the po..."
2,NaN,Isabel Emily Jay studied at the Royal Academy ...,NaN,NaN,2,Present this as if it were a historical document.,**Document**\n\n**Date:** [Insert Date]\n\n**S...
3,NaN,People believe in God for many reasons and it ...,NaN,NaN,3,Reconstruct this as if it were a line from a f...,"""From the whispers of our ancestors to the awe..."
4,NaN,First Humans appeared in this region during th...,NaN,NaN,4,Remodel this as if it were a line from a roman...,"In a realm where time whispered secrets, our a..."

In [19]:
# also we can add suffixes for the common columns on which we did not used to right join
new_table = gemini_1000.merge(gemini_5000, on='original_text', how='right', suffixes=('_1000', '_5000'))
new_table.head()

,Unnamed: 0_1000,original_text,rewrite_prompt_1000,rewritten_text_1000,Unnamed: 0_5000,rewrite_prompt_5000,rewritten_text_5000
0,NaN,Most of the members of the PayPal Mafia the Un...,NaN,NaN,0,Recall this as if it were a memory from your c...,"In the warm glow of golden sunlight, I amble t..."
1,NaN,There are several ways to build relationships ...,NaN,NaN,1,Retain this as if it were a line from a famous...,"My fellow neighbors, let us not neglect the po..."
2,NaN,Isabel Emily Jay studied at the Royal Academy ...,NaN,NaN,2,Present this as if it were a historical document.,**Document**\n\n**Date:** [Insert Date]\n\n**S...
3,NaN,People believe in God for many reasons and it ...,NaN,NaN,3,Reconstruct this as if it were a line from a f...,"""From the whispers of our ancestors to the awe..."
4,NaN,First Humans appeared in this region during th...,NaN,NaN,4,Remodel this as if it were a line from a roman...,"In a realm where time whispered secrets, our a..."

In [22]:
# subset only the rows where reqrite_prompt_1000 is null
new_table_1 = new_table[new_table['rewrite_prompt_1000'].isnull()]
new_table_1.head()

,Unnamed: 0_1000,original_text,rewrite_prompt_1000,rewritten_text_1000,Unnamed: 0_5000,rewrite_prompt_5000,rewritten_text_5000
0,NaN,Most of the members of the PayPal Mafia the Un...,NaN,NaN,0,Recall this as if it were a memory from your c...,"In the warm glow of golden sunlight, I amble t..."
1,NaN,There are several ways to build relationships ...,NaN,NaN,1,Retain this as if it were a line from a famous...,"My fellow neighbors, let us not neglect the po..."
2,NaN,Isabel Emily Jay studied at the Royal Academy ...,NaN,NaN,2,Present this as if it were a historical document.,**Document**\n\n**Date:** [Insert Date]\n\n**S...
3,NaN,People believe in God for many reasons and it ...,NaN,NaN,3,Reconstruct this as if it were a line from a f...,"""From the whispers of our ancestors to the awe..."
4,NaN,First Humans appeared in this region during th...,NaN,NaN,4,Remodel this as if it were a line from a roman...,"In a realm where time whispered secrets, our a..."

In [23]:
# if column names are not same on which we want to join 2 tables, but contains the same thing
# like id of table a and some_id of table b, contents are same but column names are different,
# in that case, we need to add 1 more argument, left_on='id', right_on='some_id'

In [1]:
# task is to find popular genres
# what are the genres of most popular movies
# we have 2 tables, movie_to_genres and pop_movies
# movie_to_genres table has 2 columns, movie_id and genre
# pop_movies has 4 columns, id, title, popularity and release_date
# so in order to find popular genres, we need to merge both table with right join
# movie_to_gneres on the left and pop_movies on the right
# On the new merged dataframe, we can groupby with genre column and use aggregation to get the
# count for each ids, genre_count = genres_movies.groupby('genre').agg({'id': 'count'})
# with that info we can plot the graph as well
# gnere_count.plot(kind='bar')
# plt.show()