In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
movie = pd.read_csv("C:/Users/Divya/OneDrive/Desktop/Study/Pandas-Cookbook-master/data/movie.csv")

In [6]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## Use the dataframe attributes index, columns and values to assign the index, columns and data to their own variables

In [7]:
index = movie.index
columns = movie.columns
data = movie.values

## Display each component's values

In [8]:
index

RangeIndex(start=0, stop=4916, step=1)

In [9]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

## Output the type of each DataFrame component

In [11]:
type(index)

pandas.core.indexes.range.RangeIndex

In [12]:
type(columns)

pandas.core.indexes.base.Index

In [13]:
type(data)

numpy.ndarray

## type of index and columns are closely related and from a same subclass, we can check with issubclass method, returns True

In [14]:
issubclass(pd.RangeIndex, pd.Index)

True

## check the datatype of DataFrame

In [16]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

## get the count of each data type in a dataframe

In [21]:
movie.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

# Selecting a single column of data as a Series

In [22]:
movie['title_year']

0       2009.0
1       2007.0
2       2015.0
3       2012.0
4          NaN
         ...
4911    2013.0
4912       NaN
4913    2013.0
4914    2012.0
4915    2004.0
Name: title_year, Length: 4916, dtype: float64

below method is prone to error, example: if column name is similar to the pandas method name, e-g- count, or col name has spaces in it

In [23]:
movie.title_year

0       2009.0
1       2007.0
2       2015.0
3       2012.0
4          NaN
         ...
4911    2013.0
4912       NaN
4913    2013.0
4914    2012.0
4915    2004.0
Name: title_year, Length: 4916, dtype: float64

 Verify that the output is the series

In [24]:
type(movie['title_year'])

pandas.core.series.Series

In [25]:
title = movie['color']
title.name

'color'

#### convert title series of color column into 1 column dataframe

In [26]:
title.to_frame()

      color
0     Color
1     Color
2     Color
3     Color
4       NaN
...     ...
4911  Color
4912  Color
4913  Color
4914  Color
4915  Color

[4916 rows x 1 columns]

## CALLING SERIES METHODS

Check the number of methods for Pandas Series

In [28]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

422

check the number of methods for Pandas Dataframe

In [29]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

437

check the number of common methods in Pandas Series and Dataframe

In [30]:
len(s_attr_methods & df_attr_methods)

367

### 1. Select 2 series with different data types director_name and actor_1_facebook_likes

In [31]:
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

### 2. Inspect head of each series

In [32]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [33]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

### 3. Count all the occurrences of each unique value in a series, most useful method for object data type is value_counts()

In [34]:
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

### 4. sometimes value_counts method on numeric series also provide some insights occassionaly

In [35]:
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
703.0        1
208.0        1
79.0         1
269.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

### 5. Counting the number of elements in a series

In [36]:
director.size

4916

In [37]:
director.shape

(4916,)

In [38]:
len(director)

4916

In [39]:
director.size == len(director)

True

### 6. Count the number of non missing value with count method

In [40]:
director.count()

4814

In [41]:
actor_1_fb_likes.count()

4909

### 7. Basic summary statistics with min, max, mean, median, std and sum methods

In [42]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(), actor_1_fb_likes.mean(), actor_1_fb_likes.median(), actor_1_fb_likes.std(), \
actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848309, 31881444.0)

### 8. summary statistics with describe method

In [44]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

 when describe method used in object data type column

In [46]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object